{{!
  This file is part of Moodle - http://moodle.org/
  
  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Moodle. If not, see
  <http://www.gnu.org/licenses/>.
  
  Edwiser RemUI
  @package theme_remui
  @copyright (c) 2023 WisdmLabs (https://wisdmlabs.com/)
  @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
  @template core/loginform

  Moodle template for the login page.
}}

<div class="loginform d-flex flex-column">
  {{#logourl}}
  <div class="login-logo text-center">
      <!-- Logo con tamaño fijo: max-width de 150px -->
      <img src="{{logourl}}" alt="Site Logo" class="img-fluid" style="max-width:70%; height:auto;">
  </div>
  {{/logourl}}
  <div class="login-welcome-wrapper d-flex flex-column text-center">
      <h2 class="h-bold-3 m-0">
          {{#str}}welcometobrand, theme_remui, {{sitename}}{{/str}}
      </h2>
      <p class="para-regular-3 m-0">{{#str}}entertologin, theme_remui{{/str}}</p>
  </div>
  {{#maintenance}}
  <div class="alert alert-danger login-maintenance">
      {{{maintenance}}}
  </div>
  {{/maintenance}}
  {{#error}}
  <a href="#" id="loginerrormessage" class="sr-only">{{error}}</a>
  <div class="alert alert-danger" role="alert">{{error}}</div>
  {{/error}}
  {{#cansignup}}
  <a href="{{signupurl}}" class="sr-only">{{#str}} tocreatenewaccount {{/str}}</a>
  {{/cansignup}}
  <form class="login-form" action="{{loginurl}}" method="post" id="login">
      <input type="hidden" name="logintoken" value="{{logintoken}}">
      <div class="login-form-username form-group">
          <label for="username" class="sr-only">
              {{^canloginbyemail}}
              {{#str}} username {{/str}}
              {{/canloginbyemail}}
              {{#canloginbyemail}}
              {{#str}} usernameemail {{/str}}
              {{/canloginbyemail}}
          </label>
          <label class="text-link-semibold form-label-color" tabindex="-1">
              {{^canloginbyemail}}
              {{#str}} username {{/str}}
              {{/canloginbyemail}}
              {{#canloginbyemail}}
              {{#str}} usernameemail {{/str}}
              {{/canloginbyemail}}
          </label>
          <input type="text" name="username" id="username" class="form-control form-control-lg"
                 value="{{username}}"
                 placeholder="{{^canloginbyemail}}{{#cleanstr}}username{{/cleanstr}}{{/canloginbyemail}}{{#canloginbyemail}}{{#cleanstr}}usernameemail{{/cleanstr}}{{/canloginbyemail}}"
                 autocomplete="username">
      </div>
      <div class="login-form-password form-group">
          <label for="password" class="sr-only">{{#str}} password {{/str}}</label>
          <label class="text-link-semibold form-label-color" tabindex="-1">
              {{#str}} password {{/str}}
          </label>
          <input type="password" name="password" id="password" class="form-control form-control-lg"
                 placeholder="{{#cleanstr}}password{{/cleanstr}}"
                 autocomplete="current-password">
      </div>

      {{#rememberusername}}
      <div class="rememberpass mt-1">
          <input type="checkbox" name="rememberusername" id="rememberusername" value="1" {{#username}}checked="checked"{{/username}} />
          <label for="rememberusername">{{#str}} rememberusername, admin {{/str}}</label>
      </div>
      {{/rememberusername}}

      <i class="fa fa-check-circle-o"></i>
      <a class="" data-toggle="modal" data-target="#exampleModal">{{{police_autorization}}}</a>
      
      <!-- Modal de Autorización -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">{{{police_autorization}}}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
              {{{police_autorization_help}}}
            </div>
          </div>
        </div>
      </div>
      <!-- Fin del Modal de Autorización -->
      
      <div class="login-form-forgotpassword form-group text-right small-info-semibold">
          <a href="{{forgotpasswordurl}}">{{#str}}forgotaccount, theme_remui{{/str}}</a>
      </div>
      <div class="login-form-submit form-group">
          <button class="btn btn-primary btn-lg btn-block" type="submit" id="loginbtn">{{#str}}login{{/str}}</button>
      </div>
  </form>
  
  {{#hasidentityproviders}}
  <div class="login-identityproviders d-flex flex-column mt-3">
      <h2 class="login-heading text-center font-weight-bold m-0">{{#str}} potentialidps, theme_remui {{/str}}</h2>
      <div class="login-identityprovider-btn-wrapper d-flex justify-content-center mt-2">
          {{#identityproviders}}
          <a class="login-identityprovider-btn border-0" href="{{url}}" title="{{name}}">
              {{#iconurl}}
              <img src="{{iconurl}}" alt="" width="24" height="24" />
              {{/iconurl}}
              {{^iconurl}}
              <img src="{{extraimageforloginbtn}}}" alt="" width="24" height="24" />
              {{/iconurl}}
          </a>
          {{/identityproviders}}
      </div>
  </div>
  {{/hasidentityproviders}}
  
  {{#canloginasguest}}
  <div class="mt-3">
      <h2 class="login-heading text-center font-weight-bold">{{#str}}someallowguest{{/str}}</h2>
      <form action="{{loginurl}}" method="post" id="guestlogin">
          <input type="hidden" name="logintoken" value="{{logintoken}}">
          <input type="hidden" name="username" value="guest" />
          <input type="hidden" name="password" value="guest" />
          <button class="btn btn-secondary btn-block" type="submit" id="loginguestbtn">{{#str}}loginguest{{/str}}</button>
      </form>
  </div>
  {{/canloginasguest}}
  
  <div class="d-flex justify-content-center flex-wrap cookies-section">
      {{#languagemenu}}
      <div class="login-languagemenu text-center">
          {{>core/action_menu}}
      </div>
      {{/languagemenu}}
      <a class="text-link-semibold ml-2" href="#"
         data-modal="alert"
         data-modal-title-str='["cookiesenabled", "core"]'
         data-modal-content-str='["cookiesenabled_help_html", "core"]'>{{#str}}cookiesnotice{{/str}}</a>
  </div>
</div>

{{#js}}
  {{^error}}
      {{#autofocusform}}
          <script>
            document.addEventListener("DOMContentLoaded", function() {
                var userNameField = document.getElementById('username');
                if (userNameField.value.length === 0) {
                    userNameField.focus();
                } else {
                    document.getElementById('password').focus();
                }
            });
          </script>
      {{/autofocusform}}
  {{/error}}
  {{#error}}
      <script>document.getElementById('loginerrormessage').focus();</script>
  {{/error}}
  <script>
    require(['core_form/submit'], function(Submit) {
        Submit.init("loginbtn");
        Submit.init("loginguestbtn");
    });
  </script>
  <script>
    // Inicializar el módulo AMD para el modal.
    require(['theme_fng/modal_manager'], function(ModalManager) {
        // Se espera que el módulo modal_manager gestione el modal con animación similar a Bootstrap.
        ModalManager.init('#exampleModal', '[data-toggle="modal"][data-target="#exampleModal"]');
    });
  </script>
{{/js}}
